<form class="actor-sheet {{cssClass}}" autocomplete="off">

    <header class="sheet-header">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100" />
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name" /></h1>
            <div class="resource health">
                <span>Énergie vitale</span>
                <input type="text" name="data.ev.value" value="{{data.ev.value}}" data-dtype="Number" />
                <span> / </span>
                <input type="text" name="data.ev.max" value="{{data.ev.max}}" data-dtype="Number" {{#if data.naheulbookCharacterId}}disabled{{/if}} />
            </div>
            <div class="resource mana">
                <span>Énergie astrale</span>
                <input type="text" name="data.ea.value" value="{{data.ea.value}}" data-dtype="Number" />
                <span> / </span>
                <input type="text" name="data.ea.max" value="{{data.ea.max}}" data-dtype="Number" {{#if data.naheulbookCharacterId}}disabled{{/if}} />
            </div>
        </div>
    </header>

    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">Description</a>
        <a class="item" data-tab="items">Inventaires</a>
        <a class="item" data-tab="attributes">Attributes</a>
        <a class="item" data-tab="naheulbook">Naheulbook</a>
    </nav>

    <section class="sheet-body">
        <div class="tab biography" data-group="primary" data-tab="description">
            {{editor content=data.biography target="data.biography" button=true owner=owner editable=editable}}
        </div>

        <div class="tab items" data-group="primary" data-tab="items">
        </div>

        <div class="tab attributes" data-group="primary" data-tab="attributes">
            <section class="combat">
                <div class="attribute">
                    <span>AT:</span>
                    <input type="text" name="data.at.value" value="{{data.at.value}}" data-dtype="Number" {{#if data.naheulbookCharacterId}}disabled{{/if}}/>
                </div>
                <div class="attribute">
                    <span>PRD:</span>
                    <input type="text" name="data.prd.value" value="{{data.prd.value}}" data-dtype="Number" {{#if data.naheulbookCharacterId}}disabled{{/if}}/>
                </div>
                <div class="attribute">
                    <span>PR:</span>
                    <input type="text" name="data.pr.value" value="{{data.pr.value}}" data-dtype="Number" {{#if data.naheulbookCharacterId}}disabled{{/if}}/>
                </div>
            </section>

            {{#ifeq actor.type "character"}}
            <section class="stats">
                <div class="attribute">
                    <span>COU:</span>
                    <input type="text" name="data.cou.value" value="{{data.cou.value}}" data-dtype="Number" {{#if data.naheulbookCharacterId}}disabled{{/if}}/>
                </div>
                <div class="attribute">
                    <span>INT:</span>
                    <input type="text" name="data.int.value" value="{{data.int.value}}" data-dtype="Number" {{#if data.naheulbookCharacterId}}disabled{{/if}}/>
                </div>
                <div class="attribute">
                    <span>CHA:</span>
                    <input type="text" name="data.cha.value" value="{{data.cha.value}}" data-dtype="Number" {{#if data.naheulbookCharacterId}}disabled{{/if}}/>
                </div>
                <div class="attribute">
                    <span>AD:</span>
                    <input type="text" name="data.ad.value" value="{{data.ad.value}}" data-dtype="Number" {{#if data.naheulbookCharacterId}}disabled{{/if}}/>
                </div>
                <div class="attribute">
                    <span>FO:</span>
                    <input type="text" name="data.fo.value" value="{{data.fo.value}}" data-dtype="Number" {{#if data.naheulbookCharacterId}}disabled{{/if}}/>
                </div>
            </section>
            {{/ifeq}}
        </div>

        <div class="tab naheulbook" data-group="primary" data-tab="naheulbook">
            {{#ifeq actor.type "monster"}}
            <div class="attribute">
                <span>Naheulbook Id (Monstre):</span>
                <input type="text" name="data.naheulbookMonsterId" value="{{data.naheulbookMonsterId}}" data-dtype="Number" {{#unless naheulbook.isGm}}disabled{{/unless}} />
            </div>
            {{/ifeq}}
            {{#ifeq actor.type "character"}}
                <div class="attribute">
                    <span>Naheulbook Id (Personnage):</span>
                    <input type="text" name="data.naheulbookCharacterId" value="{{data.naheulbookCharacterId}}" data-dtype="Number" {{#unless naheulbook.isGm}}disabled{{/unless}} />
                </div>
            {{/ifeq}}
        </div>
    </section>

</form>
